.topnav {
  float: right;
  color: black
  text-align: center;
  text-decoration: none;
  font-size: 20px;
    font-family: "Planet Light", sans-serif;
    font-weight: lighter;
    outline: none; 
}

h1 {font-size:30pt; 
    font-family: sans-serif; font-weight: lighter;}

p {font-family: "Planet Light",sans-serif;font-weight: inherit;}

.center{display: block; margin-left: auto; margin-right: auto}

a:link {color:black}
a:visited {color: black;}